<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minimalistic Chatbot</title>
  <link rel="stylesheet" href="{{url_for('static', filename='chat_style.css')}}">
</head>
<body>
  <div class="chatbot-container">
    <div class="chatbot-header">
      <h3>Minimalistic Chatbot</h3>
    </div>
    <div class="chatbot-messages">
    </div>
    <div class="chatbot-input">
      <form action="/" method="post">
        <input type="text" id="text" name="text" placeholder="Type your message...">
        <button type="submit" value="Submit">Send</button>
      </form>
    </div>
  </div>

  <script src="{{url_for('static', filename='chatroom_fetch.js')}}">  </script>
</body>
</html>